body{
    background-color: #3d3d3d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #720b00;
    font-size: 18px;
}

.ancho50{
    width: 50%;
    background-color: #00d5ff;
    border: #dce1ce solid 2px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    opacity: 0.8;
}

p {
   /* 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px; 

    margin: 20px 40px 20px 40px;

    */
    margin: 25px;
    text-align: justify;
}
.padding{
    width: 80%;
    padding: 20px 40px;
    background-color: #00ffe5;
    border: #ffffff solid 2px;
    margin-bottom: 40px;
    box-shadow: #000000 5px 5px 5px;
}

#caja{
    width: 200px;
    height: 200px;
    border: #ffffff solid 2px;
    background-color: aqua;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border: #ffffff solid 2px;
}
#caja2{
    width: 500px;
    height: 200px;
    border: #ffffff solid 2px;
    background-color: aqua;
}
.menu-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.menu-nav a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px;
    transition: background-color 0.3s ease-in;
}
.menu-nav a:hover{
    background-color: #ffffff;
    color: #000000;
}